<% @page_title='Section' %>

    <%= link_to "Back to Section" , {:action=> 'index', :page_id => @page.id}, class:'btn btn-light' %>

        <div class="contianer mt-5">
            <div class="col-5 m-5 p-3 bg-light">
            <%= form_with model: @section, url:{:action=> 'destroy', :id => @section.id, :page_id =>
                    @section.page.id}, method: :delete do %>

                    <p>Are you sure you want to delete <b><%= @section.name%></b>?</p>
                    <div class="col-2">
                        <%= submit_tag("Delete", class:'btn btn-danger') %>
                    </div>
                    <% end %>
            </div>

        </div>