<% @page_title ='Page' %>

    <%= link_to 'Back To Pages' , {:action=> 'index', :subject_id => @page.subject.id}, class:'btn btn-light' %>

        <div class="col-6 bg-light mt-5 p-2">
            <h1>Create Form</h1>

            <%= form_with model: @page, url:{:action=> 'create', :subject_id => @page.subject.id}, method: :post, local:
                true do |f| %>

                <%= render(:partial=> 'form', :locals => {:f => f}) %>

                    <div class="mb-3">

                        <%= submit_tag('Create', class:'btn btn-success') %>
                    </div>

                    <% end %>


        </div>